/* <a> element yang menerapkan href attribute */
a[href] {
	color: blue;
}

/* <a> element yang menerapkan nilai pada href dengan awalan "#" */
a[href^='#'] {
	background-color: gold;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "example" */
a[href*='example'] {
	background-color: silver;
}

/* <a> element yang menerapkan nilai pada href yang mengandung teks "insensitive" tidak mementingkan huruf kapital*/
a[href*='insensitive' i] {
	color: cyan;
}

/* <a> element yang menerapkan nilai pada href dengan akhiran ".org" */
a[href$='.org'] {
	color: red;
}

/* Menargetkan seluruh tipe elemen */
* {
	color: blue;
}

/* Menargetkan seluruh tipe elemen yang mengandung nilai "en" pada atribut lang */
*[lang^='en'] {
	font-style: italic;
}

/* Menargetkan seluruh tipe elemen yang memiliki nilai "warning" pada atribut class */
*.warning {
	color: red;
}

/* Menargetkan seluruh tipe elemen yang memiliki nilai "content" pada atribut id */
*#content {
	border: 1px solid orange;
	padding: 20px;
}

/* adjacent (+) */
img + p {
	color: blueviolet;
}
/* general (~) */
img ~ p {
	color: green;
}
/* child selector (>) */
#child-selector > p {
	background-color: yellow;
}

/* descendent selector (space) */
/* #child-selector  p {
  background-color: orange;
} */
/* pseudo selector */
/* rule akan diterapkan pada sebuah tautan yang belum pernah dikunjungi */
a:link {
	color: red;
}

/* rule akan diterapkan pada sebuah tautan yang sudah pernah dikunjungi */
a:visited {
	color: green;
}

/* rule akan diterapkan pada sebuah tautan ketika diarahkan dengan kursor */
a:hover {
	color: pink;
}

/* rule akan diterapkan pada sebuah tautan ketika ditekan */
a:active {
	color: yellow;
}
/* pseudo elemen selector */
blockquote::before,
blockquote::after {
  content: '"';
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}
/* Rule styling akan diterapkan pada karakter pertama di sebuah paragraf */
p::first-letter {
  font-size: 32px;
  font-weight: bold;
  color: saddlebrown;
}

/* font-face */
@font-face {
  font-family: "Dicoding Font";
  src: url('FILE-FONT.TTF');
}
p {
  font-family: "Dicoding Font";
}
/* relative - absolute unit */
body {
  font-size: 16px;
}

h1 {
  font-size: 150%; /* 150% dari 16 = 24px */
}