body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
}

h2,
h3 {
	color: #00a2c6;
}

footer {
	padding: 20px;
	color: #f4f4f4;
	background-color: #00a2c6;
	text-align: center;
	font-weight: 700;
}

/* latihan ukuran, tebal, alignment */
nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #f5f5f5;
}

nav a:hover {
	font-weight: 700;
}

.profile header {
	text-align: center;
}

.featured-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.profile img {
	width: 200px;
}

/* efek card pada content */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 25px;
}

/* menambahkan hero section/jumbotron */
.jumbtron {
	font-size: 20px;
	padding: 60px;
	background-color: rgb(0, 200, 235);
	text-align: center;
	color: #f5f5f5;
}
/* navigasi bar */
nav li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}
nav {
	background-color: rgb(0, 162, 198);
	padding: 5px;
}
main {
	padding: 20px;
}